@font-face {
    font-family: changa;
    src: url(/fonts/Changa/ChangaOne-Regular.ttf);
}

@font-face {
    font-family: alexandria;
    src: url(/fonts/Alexandria/Alexandria-Light.ttf);
}

@font-face {
    font-family: alexandria-thin;
    src: url(/fonts/Alexandria/Alexandria-Thin.ttf);
}



