:root {
    --primary-base: #040A2C;
    --primary-base1: RGBA(4, 10, 44, 1);
    --primary-1: RGBA(138, 138, 138, 1);
    --primary-2: RGBA(227, 227, 227, 1);
    --primary-3: #FFFFFF;

    --secondary-1: #FF7F00;
  
}