.editor {
    background-color: var(--primary-2);
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

.canvas-container {
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 1em;
    border: 5px solid var(--primary-base);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


canvas {
    width: 100%;
    display: block;
}

.editor-options-board {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.editor-options-board-layout {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 65px);
    grid-template-rows: repeat(7, 65px);
    grid-template-areas:
        'R1 R1 R1 R1 R1'
        '. R2C2 R2C3 R2C4 .'
        'R3C1 R3C2 R3C3 R3C4 R3C5'
        'R4C1 R4C1 R4C1 R4C4 R4C5'
        'R5C0 R5C1 R5C1 R5C1 R5C5'
        'R6C1 R6C1 R6C3 R6C4 R6C5'
        'R7C1 R7C1 R7C3 R7C4 R7C5';
    align-items: center;
    justify-items: center;

}

.txt-input {
    grid-area: R1;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
    color: black;
    padding: 10px;
    background-color: white;

    outline: none;
    border: none;
}

.txt-input:focus {
    background-color: white;
}

.color-picker-container {
    grid-area: R4C4;
    position: relative;

    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(5, 5, 5);

    align-content: center;
    justify-content: center;
    justify-self: center;
    margin: auto;
    padding: 5px;
}

.color-picker-container:hover {
    background-color: var(--secondary-1);
}

.color-picker-container-fill {
    grid-area: R4C5;
    position: relative;
    align-content: center;
    justify-content: center;
    justify-self: center;

    padding-inline: 6px;
}

.color-picker-input {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.color-picker-fill-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.decrease {
    grid-area: R3C2;
}

.increase {
    grid-area: R3C1;
    height: 48px;
}

.edit-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: auto;
}

.edit-btn:hover {
    background-color: var(--secondary-1);
}

.download {
    grid-area: R7C1;
    height: 40px;
    width: 124px;
    border-radius: 5px;
    background-color: var(--secondary-1);
    font-size: 1.2em;
    padding-inline: 12px;

    align-content: center;
    justify-content: center;
    justify-self: center;
}

.add {
    grid-area: R2C3;
}

.trash {
    grid-area: R2C4;
}

.up-and-down {
    grid-area: R2C2;
}

.align-to-left {
    grid-area: R3C3;
}

.align-to-right {
    grid-area: R3C5;
}

.center-text {
    grid-area: R3C4;
}

.font-type {
    position: relative;
    grid-area: R4C1;
    height: 40px;
    width: 170px;
    font-size: 1.2em;
    padding-inline: 5px;

    align-content: center;
    justify-content: center;
    justify-self: center;
}

.save {
    grid-area: R6C1;
    height: 40px;
    width: 124px;
    border-radius: 5px;
    background-color: var(--secondary-1);
    color: white;
    font-size: 1.2em;
    padding-inline: 12px;

    align-content: center;
    justify-content: center;
    justify-self: center;
}


.emoji-input-container {
    grid-area: R5C1;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    white-space: nowrap;
    background-color: var(--primary-3);
    padding: 10px 30px;

    border-radius: 5px;

}

.emoji-scroll {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: hidden;
}


.emoji {
    font-size: 1.5rem;
    margin-right: 2px;
    cursor: pointer;
    transition: transform 0.2s;
}

.emoji:hover {
    transform: scale(1.2);
}

.scroll-btn {
    background-color: white;
    border: none;
    font-size: .5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left {
    left: 0;
    border-radius: 5px;
}

.right {
    right: 0;
    border-radius: 5px;
}

.scrolling {
    height: 22px;
    margin: 2px;
}