.search-bar-container {
    background-color: var(--primary-3);
    height: 100px;
}

.filter-bar::after {
    content: '';
    position: relative;
}

.filter-bar {
    outline: none;
    border: none;
    height: 28px;
    border-bottom: 2px solid var(--primary-base1);
    font-size: 1.2em;
    font-family: alexandria, sans-serif;
    font-weight: 600;
    appearance: none;
}

i {
    border-bottom: 2px solid var(--primary-base1);
    height: 28px;
    margin: 0;
}

.filter-bar:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-base1);
    appearance: none;
}

.filter-bar:hover {
    appearance: none;
}

.filter-bar:focus-visible {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-base1);
    appearance: none;
}

.clear-search {
    font-family: alexandria, sans-serif;
    height: 40px;
    border-radius: 5px;
    background-color: var(--secondary-1);
    margin-left: .8em;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.clear-search:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

.flexible {
    margin-left: .8em;
    font-family: alexandria, sans-serif;
    background-color: var(--secondary-1);
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.flexible:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}